@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-[#F1EDE1] font-inter;
}

.setbody {
  @apply flex flex-col w-full items-center;
}

.setbody > div {
  @apply w-full h-full;
}

.headerBackground {
  background: var(
    --lil,
    linear-gradient(277deg, #724f1a -1.59%, #8f6e3a 100.69%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.clip3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.divider:last-of-type {
  display: none;
}

.swiper-button-prev:after {
  display: none !important;
}
.swiper-button-next:after {
  display: none !important;
}

.swiper-button-prev,
.swiper-button-next {
  position: relative !important;
  top: unset !important;
  margin-top: unset !important;
  z-index: unset !important;
  cursor: pointer !important;
  display: block !important;
  align-items: unset !important;
  justify-content: unset !important;
  color: unset !important;
  right: unset !important;
  left: unset !important;
}

.swiper-slide:nth-of-type(2) > div,
.swiper-slide:nth-of-type(4) > div,
.swiper-slide:nth-of-type(6) > div {
  border: 0.5px solid #885606 !important;
  background: rgba(255, 218, 161, 0.1) !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
