@tailwind base;
@tailwind components;
@tailwind utilities;

body {
}

.headerBackground {
  background: var(
    --lil,
    linear-gradient(277deg, #724f1a -1.59%, #8f6e3a 100.69%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
